#portfolio {


    .feature {
        margin-top: 5vh;
        font-size: 18px;

        custom-p {
            font-weight: 600;
        }

    }

    .scrollDown {
        position: fixed;
        right: 5vh;
        bottom: 4vh;
        font-size: 5vh;
        color: white;
        border-radius: 50%;
        animation: twinkling 2.5s linear infinite
    }

    @keyframes twinkling {
        0% {
            opacity: 1
        }

        25% {
            opacity: 0.5
        }

        50% {
            opacity: 0.1
        }

        75% {
            opacity: 0.5
        }

        100% {
            opacity: 1
        }
    }
}